apiVersion: v1
kind: ConfigMap
metadata:
  name: sysdig-agent
data:
  dragent.yaml: |
    configmap: true
    tags: '{{ sysdig_tags }}'

    #### Sysdig Software related config ####
    # Sysdig collector address
    collector: {{ sysdig_collector }}

    # Collector TCP port
    collector_port: {{ sysdig_collector_port }}

    # Whether collector accepts ssl
    ssl: {{ sysdig_ssl }}

    # collector certificate validation
    ssl_verify_certificate: {{ sysdig_ssl_verify_certificate }}

    #######################################
    new_k8s: {{ sysdig_new_k8s }}
    k8s_cluster_name: {{ sysdig_k8s_cluster_name }}
    security:
      k8s_audit_server_url: 0.0.0.0
      k8s_audit_server_port: 7765
