[local]
localhost ansible_connection=local ansible_python_interpreter=/usr/bin/python3 # 10.15.152.4

[infrastructure]
hpe-infra1    ansible_host=10.15.152.5   esxi_host=
#hpe-infra2   ansible_host=10.15.152.6   esxi_host=		# only one infra node supported at this time

[loadbalancer]
hpe-lb1       ansible_host=10.15.152.7   esxi_host=
#hpe-lb2      ansible_host=10.15.152.8   esxi_host=		# only one LB supported at this time


[bootstrap]
hpe-bootstrap ansible_host=10.15.152.209 esxi_host=

[master]
hpe-master0   ansible_host=10.15.152.210 esxi_host=
hpe-master1   ansible_host=10.15.152.211 esxi_host=
hpe-master2   ansible_host=10.15.152.212 esxi_host=

[worker]
hpe-worker0   ansible_host=10.15.152.213 esxi_host=
hpe-worker1   ansible_host=10.15.152.214 esxi_host=

[ocp:children]
bootstrap
master
worker

[ocp:vars]
ansible_user=core
ansible_python_interpreter=/usr/bin/python3


