[local]
localhost ansible_connection=local ansible_python_interpreter=/usr/bin/python3 # 10.15.152.4

[infrastructure]
hpe-infra1    ansible_host=10.15.152.5   esxi_host=
hpe-infra2    ansible_host=10.15.152.6   esxi_host=

[loadbalancer]
hpe-lb1       ansible_host=10.15.152.7   esxi_host= frontend_ipaddr=10.10.174.165/22 
#hpe-lb2      ansible_host=10.15.152.8   esxi_host= frontend_ipaddr=10.10.174.166/22

[bootstrap]
hpe-bootstrap ansible_host=10.15.152.209 esxi_host=

[master]
hpe-master0   ansible_host=10.15.152.210 esxi_host=
hpe-master1   ansible_host=10.15.152.211 esxi_host=
hpe-master2   ansible_host=10.15.152.212 esxi_host=

[rhcos_worker]
hpe-worker0   ansible_host=10.15.152.213 esxi_host=
hpe-worker1   ansible_host=10.15.152.214 esxi_host=

[rhel_worker]
# to be done

[worker:children]
rhcos_worker
rhel_worker

[rhcos:children]
bootstrap
master
rhcos_worker

[rhcos:vars]
ansible_user=core
ansible_python_interpreter=/usr/bin/python3

[ocp:children]
master
worker

