---
vault:
  vcenter_password: 'YourvCenterAdminPassword'
  simplivity_password: 'YourvCenterAdminPassword'
  rhn_orgid: "YourRHNOrgId"
  rhn_key: "YourRHNkey"
  pull_secret: '...  replace with your pull secret  ... '
  ssh_key:  'your ssh public key here'
