###
# Copyright (2019) Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License");
# You may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
###

#
# DHCP Server Configuration file.
#   see /usr/share/doc/dhcp-server/dhcpd.conf.example
#   see dhcpd.conf(5) man page
#
#
# Options that apply to all configured subnets
#
option domain-name                      "{{ cluster_name }}.{{ domain_name }}";
option domain-name-servers              {{ groups['support'] | map('extract', hostvars, ['ansible_host']) | join(',') }};
option ntp-servers                      {{ ntp_servers | join (',') }};
default-lease-time                      3600;
max-lease-time                          7200;

#
# Subnet configuration and range for OCP 4.1
#
subnet {{ dhcp_subnet | ipaddr('network') }} netmask {{ dhcp_subnet | ipaddr('netmask') }} {
        option routers                  {{ gateway }};
        option subnet-mask              {{ dhcp_subnet | ipaddr ('netmask') }};
}


{% for host in vms_facts.results %}
host {{ host.instance.hw_name }} {
   hardware ethernet {{ host.instance.hw_eth0.macaddress }} ;
   fixed-address {{ hostvars[host.instance.hw_name].ansible_host }} ;
   option host-name "{{ host.instance.hw_name }}" ;
}
{% endfor %}

