###
# Copyright (2019) Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License");
# You may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
###

! Configuration File for keepalived

vrrp_script chk_haproxy {
  script "/usr/bin/killall -0 haproxy"
  interval 2
  weight 2
}

{% if loadbalancers.backend.vip is defined %}
vrrp_instance API_INT_VIP {
  state MASTER
  interface {{ loadbalancers.backend.interface }}
  virtual_router_id {{ loadbalancers.backend.vrrp_router_id }}
{% if hostvars[inventory_hostname].api_int_preferred is defined %}
  priority 100
{% else %}
  priority 99
{% endif %}
  virtual_ipaddress {
    {{  loadbalancers.backend.vip }}
  }
  track_script {
    chk_haproxy
  }
}
{% endif %}

{% if loadbalancers.frontend.vip is defined %}
vrrp_instance API_EXT_VIP {
  state MASTER
  interface {{ loadbalancers.frontend.interface }}
  virtual_router_id {{ loadbalancers.frontend.vrrp_router_id }}
{% if hostvars[inventory_hostname].api_preferred is defined %}
  priority 100
{% else %}
  priority 99
{% endif %}
  virtual_ipaddress {
    {{  loadbalancers.frontend.vip }}
  }
  track_script {
    chk_haproxy
  }
}
{% endif %}
