! Configuration File for keepalived

vrrp_script chk_haproxy {
  script "/usr/bin/killall -0 haproxy"
  interval 2
  weight 2
}

{% if loadbalancers.backend.vip is defined %}
vrrp_instance API_INT_VIP {
  state MASTER
  interface {{ loadbalancers.backend.interface }}
  virtual_router_id {{ loadbalancers.backend.vrrp_router_id }}
{% if hostvars[inventory_hostname].api_int_preferred is defined %}
  priority 100
{% else %}
  priority 99
{% endif %}
  virtual_ipaddress {
    {{  loadbalancers.backend.vip }}
  }
  track_script {
    chk_haproxy
  }
}
{% endif %}

{% if loadbalancers.frontend.vip is defined %}
vrrp_instance API_EXT_VIP {
  state MASTER
  interface {{ loadbalancers.frontend.interface }}
  virtual_router_id {{ loadbalancers.frontend.vrrp_router_id }}
{% if hostvars[inventory_hostname].api_preferred is defined %}
  priority 100
{% else %}
  priority 99
{% endif %}
  virtual_ipaddress {
    {{  loadbalancers.frontend.vip }}
  }
  track_script {
    chk_haproxy
  }
}
{% endif %}
