apiVersion: v1
baseDomain: hpecloud.org
compute:
- name: worker
  replicas: <number of workers in your hosts file>
controlPlane:
  name: master
  replicas: 3 
metadata:
  name: <name of your cluster, same as cluster_name in group_vars/all/vars.yml >
platform:
  vsphere:
    vcenter: vcentergen10.am2.cloudra.local
    username: 'Administrator@vsphere.local'
    password: '<SecretPassword>'
    datacenter: DEVOPS
    defaultDatastore: <Your Datastore>
pullSecret: '<your pull secret>'
sshKey: '<your ssh public key>'
