#
# DHCP Server Configuration file.
#   see /usr/share/doc/dhcp-server/dhcpd.conf.example
#   see dhcpd.conf(5) man page
#
#
# Options that apply to all configured subnets
#
option domain-name                      "{{ cluster_name }}.{{ domain_name }}";
option domain-name-servers              {{ groups['infrastructure'] | map('extract', hostvars, ['ansible_host']) | join(',') }};
option ntp-servers			{{ ntp_servers | join (',') }};
default-lease-time                      3600;
max-lease-time                          7200;

#
# Subnet configuration and range for OCP 4.1
#
subnet {{ dhcp_subnet | ipaddr('network') }} netmask {{ dhcp_subnet | ipaddr('netmask') }} {
        option routers                  {{ gateway }};
        option subnet-mask              {{ dhcp_subnet | ipaddr ('netmask') }};
        range                           {{ dhcp_scope }};
}


