###
# Copyright (2019) Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License");
# You may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
###

[all:vars]
# SSH user, this user should allow ssh based auth without requiring a
# password. If using ssh key based auth, then the key should be managed by an
# ssh agent.
ansible_user=core
openshift_pull_secret_path = "{{ install_dir }}/pull-secret.txt"
openshift_node_bootstrap_server =  https://api-int.{{ cluster_name }}.{{ domain_name }}:22623

# If ansible_user is not root, ansible_become must be set to yes and the
# user must be configured for passwordless sudo
ansible_become=yes

###############################################################################
# Required configuration variables                                            #
###############################################################################
openshift_kubeconfig_path="{{ install_dir }}/auth/kubeconfig"

# For running RHEL worker upgrades
[workers]

# For running RHEL worker scaleup
[new_workers]
{% for host in new_rhel_workers %}
{{ host }}
{% endfor %}
