expand-hosts
domain={{ cluster_name }}.{{ domain_name }}
resolv-file=/var/lib/dnsmasq/resolv.conf
address=/apps.{{ cluster_name }}.{{ domain_name }}/{{ resource_plane_vip }}
{% for host in groups.master %}
srv-host=_etcd-server-ssl._tcp.{{ cluster_name }}.{{ domain_name }},etcd-{{ loop.index -1 }}.{{ cluster_name }}.{{ domain_name }},2380,,10
{% endfor %}

{% for host in groups.master %}
cname=etcd-{{ loop.index - 1 }}.{{ cluster_name }}.{{ domain_name }},{{ host }}.{{ cluster_name }}.{{ domain_name }}
{% endfor %}
