127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ lb_api_ip | ipaddr('address') }} api
{{ lb_api_int_ip | ipaddr('address') }} api-int
{% for host in groups.loadbalancer %}
{{ hostvars[host].ansible_host }} {{ host }}
{% endfor %}
{% for host in groups.support %}
{{ hostvars[host].ansible_host }} {{ host }}
{% endfor %}
{% for host in groups.bootstrap %}
{{ hostvars[host].ansible_host }} {{ host }}
{% endfor %}
{% for host in groups.ocp %}
{{ hostvars[host].ansible_host }} {{ host }}
{% endfor %}
{% if groups.nfs is defined %}
{% for host in groups.nfs %}
{{ hostvars[host].ansible_host }} {{ host }}
{% endfor %}
{% endif %}
