###
# Copyright (2019) Hewlett Packard Enterprise Development LP
#
# Licensed under the Apache License, Version 2.0 (the "License");
# You may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
###

127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{{ lb_api_ip | ipaddr('address') }} api
{{ lb_api_int_ip | ipaddr('address') }} api-int
{% for host in groups.loadbalancer %}
{{ hostvars[host].ansible_host }} {{ host }}
{% endfor %}
{% for host in groups.support %}
{{ hostvars[host].ansible_host }} {{ host }}
{% endfor %}
{% for host in groups.bootstrap %}
{{ hostvars[host].ansible_host }} {{ host }}
{% endfor %}
{% for host in groups.ocp %}
{{ hostvars[host].ansible_host }} {{ host }}
{% endfor %}
{% if groups.nfs is defined %}
{% for host in groups.nfs %}
{{ hostvars[host].ansible_host }} {{ host }}
{% endfor %}
{% endif %}
