version: 1
config:
  - type: physical
    name: ens192
    subnets:
      - type: static
        address: {{ hostvars[inventory_hostname].ansible_host }}
        gateway: {{ gateway }}
        dns_nameservers: {{ internal_dns_servers | union(dns_servers) }}
        dns_search:
          - {{ cluster_name }}.{{ domain_name }}"
