#cloud-config

users:
  - default
  - name: {{ ansible_user }}
    primary_group: {{ ansible_user }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo, wheel
    ssh_import_id: None
    lock_passwd: true
    ssh_authorized_keys:
      - {{ ssh_key }}
